systemLog:
  destination: file
  path: "/var/log/mongodb/mongod.log"
  quiet: true
  logAppend: true
processManagement:
  fork: true
net:
  port: {{ mongod_port }}
operationProfiling:
  mode: slowOp
storage:
  dbPath: {{ mongodb_datadir_prefix }}mongodb
  smallFiles: true
replication:
  replSetName: "{{ replset_name }}0"