rs.initiate()
sleep(3000)

{# Add secondaries to MongoDB cluster #}
{% for host in groups['secondary_servers'] %}
rs.add("{{ host }}:{{ mongod_port }}")
sleep(3000)
{% endfor %}

{# Reconfig primary hostname (was container default) #}
cfg = rs.conf()
cfg.members[0].host = "{{ groups['primary_servers'][0] }}:{{ mongod_port }}"
rs.reconfig(cfg)
